/FirstApp/nbproject/private/
/FirstApp/build/
/FirstApp/dist/
/CRUD_Clientes/nbproject/private/
/CRUD_Clientes/build/
/Semana11/AppA/JAppSemana11/nbproject/private/
/Semana11/AppA/JAppSemana11/build/
/Semana11/AppB/JApplicationB/nbproject/private/
/Semana11/AppB/JApplicationB/build/
/Semana11/AppB/JApplicationB/dist/
